@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base Colors - Defaults (Light) but we aren't using them much */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }

  /* Force Dark Theme Variables via .dark class */
  .dark {
    --background: 240 10% 3.9%;
    /* #09090b */
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --card-border: 240 3.7% 15.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-zinc-950;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full border-2 border-zinc-950;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-700;
  }
}

/* Tiptap Editor Styles */
.ProseMirror {
  @apply min-h-[150px] outline-none text-foreground leading-relaxed text-lg max-w-none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  @apply text-muted-foreground float-left h-0 pointer-events-none;
}

.ProseMirror h1 {
  @apply text-3xl font-serif font-bold mb-4 text-foreground mt-6;
}

.ProseMirror h2 {
  @apply text-2xl font-serif font-bold mb-3 text-foreground mt-6;
}

.ProseMirror p {
  @apply mb-4;
}

.ProseMirror blockquote {
  @apply border-l-4 border-border pl-4 py-1 italic text-muted-foreground my-4;
}

.ProseMirror ul {
  @apply list-disc list-outside ml-6 mb-4;
}

.ProseMirror ol {
  @apply list-decimal list-outside ml-6 mb-4;
}

.ProseMirror strong {
  @apply text-foreground font-bold;
}